* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins' sans-serif;
    background: #ece9e6;
    background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
    background: linear-gradient(to right, #ffffff, #ece9e6);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.mobile-container {
    background-color: #fff;
    width: 400px;
}

img {
    max-width: 100%;
}